<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--    1. 普通配置包扫描
      base-package 指定ioc容器去哪些报下查找注解类
      如果是多个包，org.example.ioc_01      -->
        <context:component-scan base-package="org.example.ioc_01" />
<!--        <context:component-scan base-package ="org.example">-->
<!--&lt;!&ndash;            排除包下的注解 &ndash;&gt;-->
<!--            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository "/>-->
<!--            <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller "/>-->
<!--        </context:component-scan>-->
    
<!--    3 指定包，指定包含-->
<!--    basePackage包下所有注解都生效的含义 use-default-filters 指定包的所有注解先不生效-->
<!--    <context:component-scan base-package="org.example" use-default-filters="false" >-->
<!--&lt;!&ndash;        只扫描包下的注解&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
<!--    </context:component-scan>-->

<!--    2. 指定包，但是排除注解-->

    </beans>