<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--
1. ioc容器
2. ID配置 必须有setter方法

-->
<!--    <bean id="userServiceimpl" class="org.example.ioc_03.UserServiceimpl" />-->
<!--    <bean id="userController" class="org.example.ioc_03.UserController" >-->
<!--        <property name="userService" ref="userServiceimpl"/>-->
<!--    </bean>-->

    <context:component-scan base-package="org.example.ioc_03"/>
</beans>